
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Rg";
  font-weight: 100;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Bd";
  src: local("logan"), url("./font/THSarabunNew\ Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Rg";
  src: local("loganz"), url("./font/THSarabunNew.ttf") format("truetype");
}

.nice-dates-navigation, .nice-dates-day {
  color: #111;
}
.nice-dates-popover {
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 480px;
  transition: none;
  right: 1cm;
}